---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ColumnStatus from "../components/ColumnStatus.astro";
import {tasks} from "../task/jira-provider";
import {createSteps, group} from "./index";

export const getStaticPaths = async () => {
    const steps = createSteps(await tasks())

    return steps.map((_, index) => ({params: {step: index}}))
};

const { step } = Astro.params;

const steps = createSteps(await tasks())

const data = steps[step]
---

<Layout title="Daily Helper">
    <main class="m-auto p-2 text-white text-sm leading-6 w-full">
        <section class="flex flex-row gap-2 mb-2">
            {['TO DO', 'BLOCKED', 'IN PROGRESS', 'TO REVIEW', 'PR ACCEPTED', 'DONE'].map((status) => (
              <ColumnStatus name={status} />
            ))}
        </section>
        <section class="flex flex-col gap-2 mb-2">
            <header>
                <h2>{data.storyName}</h2>
            </header>
            <article class="flex flex-row gap-2">
                {Object.entries(data.value).map(([key2, value2]) => (
                  <ColumnStatus name={key2}>
                      {value2.map(v => (
                        <Card
                          name={v.name}
                          storyId={v.storyId}
                          storyName={v.storyName}
                          statusName={v.statusName}
                          imageAssign={v.imageAssign}
                        />
                      ))}
                  </ColumnStatus>
                ))}
            </article>
        </section>
    </main>
</Layout>
