---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ColumnStatus from "../components/ColumnStatus.astro";
import {tasks} from "../task/jira-provider";
import {group} from "./index";

const taskGrouped = group(await tasks())
---

<Layout title="Daily Helper">
    <main class="m-auto p-2 text-white text-sm leading-6 w-full">
        <section class="flex flex-row gap-2 mb-2">
            {['TO DO', 'BLOCKED', 'IN PROGRESS', 'TO REVIEW', 'PR ACCEPTED', 'DONE'].map((status) => (
              <ColumnStatus name={status} />
            ))}
        </section>
        {Object.entries(taskGrouped).map(([key, value]) => {
            return (
              <section class="flex flex-col gap-2 mb-2">
                  <header>
                    <h2>{key}</h2>
                  </header>
                  <article class="flex flex-row gap-2">
                      {Object.entries(value).map(([key2, value2]) => (
                        <ColumnStatus name={key2}>
                            {value2.map(v => (
                              <Card
                                name={v.name}
                                storyId={v.storyId}
                                storyName={v.storyName}
                                statusName={v.statusName}
                                imageAssign={v.imageAssign}
                              />
                            ))}
                        </ColumnStatus>
                      ))}
                  </article>
              </section>
            )
        })}
    </main>
</Layout>
